doctype html
html
    head
        title= title
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")

    body
        div(class="container")
            block content

        div(class="footer")
            div(class="container")
                p(class="text-muted") * Please ensure that thrid-party cookies are enabled or at least add an execption for facebook.com.  otherwise login will fail.
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    //- jQuery local fallback
    script
        //window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')
    script(src="/js/fb.login.js", type="text/javascript")