#button-holder{
    min-height: 25px;
}

.container {
    max-width: 500px;
}

.button-container {
    display: inline-block;
    float: left;
    width: 50%;
}

#logout {
    float:right;
    display: none;
}
